// Define style for image floating on the right with text wrapping
.TextWrapRight {
  display: block;
  margin: 10px;
  clear: both;
  float: right;
}

// Define box around text
.Boxed {
  display: block;
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 0.5em;
  margin-bottom: 10px;
  margin-top: 10px;
}

// CSS for side-by-side images
.column3 {
  float: left;
  width: 32.5%;
  padding: 0.4%;
}

.column2 {
  float: left;
  width: 49%;
  padding: 0.5%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 